$whiteColor: #ffffff;
$blackColor: #212121;
$blackColorLink: #000000;
$colorHeadingWhite: #eeeeee;
$headerColor: #ececec;
$greyColor: #757575;
$backgroundColorFooter: #2f303a;
$backgroundColorOutTeam: #f5f4fa;
$backgroundColorIcon: rgba(255, 255, 255, 0.1);
$backgroundModal: rgba(0, 0, 0, 0.2);
$backgroundColorFromIcon: #f5f4fa;
$backgroundColor:  rgba(47, 48, 58, 1);
$backgroundColorWhatwedo: rgba(47, 48, 58, 0.8); 
$whiteColorButton:  #f5f4fa;
$blueColorPointer: #2196f3;
$colorCircleOurTeam: #afb1b8;
$boxShadowButton: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
$boxShadowModal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2); 
$boxShadowTiles: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
$borderColor: rgba(255, 255, 255, 0.3);
$borderModal: rgba(0, 0, 0, 0.1);
$borderFormModal: rgba(33, 33, 33, 0.2);
$boxShadowSlogan: 0px 4px 4px rgba(0, 0, 0, 0.15);
$backgroundColorTiles: rgba(33, 150, 243, 0.9);
$borderIconCustomer: #afb1b8;
$greyColorAddress: rgba(255, 255, 255, 0.6);
$ralewayFontFamily: Raleway, sans-serif;
$robotoFontFamily: Roboto, sans-serif;
